:root {
    --dark-background: #2D022B;
    --hover-color: #4A1450;
    --light-background: #D5CDD5;
    --dark-text: black;
    --light-text: #FFF9F1;
    --accent-color: #7B3F61;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", "Gill Sans", sans-serif;
    font-weight: 100;
}

header, footer {
    padding: 10px;
    margin: 10px;
    background-color: var(--dark-background);
    color: var(--light-text);
    text-align: center;
}

main {
    background-color: var(--light-background);
    color: var(--dark-text);
    padding: 10px;
    margin: 10px;
}

.asterisk {
    color: var(--accent-color);
    font-size: larger;
}

.form fieldset {
    border: none;
    width: 100%;
}

.form label {
    display: inline-block;
    color: var(--dark-background);
    min-height: 40px;
}

#checkBoxes {
    padding-top: 10px;
}

/* #radioButtons {
    display: grid;
} */


.label {
    font-weight: bold;
    padding: 5px;
}

select, input[type=date], textarea, input[type=text], input[type=submit] {
    padding: 10px;
    margin: auto;
    width: 100%;
}


textarea {
    height: 100px;
}


#checkAll {
    font-weight: 100;
}

input[type=submit] {
    background-color: var(--dark-background);
    color: var(--light-background);
    border: 2px solid var(--light-background);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
    
input[type=submit]:hover {
    background-color: var(--hover-color);
    color: var(--light-text);
    border-color: var(--light-text);
}

@media  (min-width: 500px) {
    body {
        width: 100%;
        margin: auto;
    }

    #mainContainer {
        max-width: 500px;
        margin: auto;
    }

    #radioButtons {
        display: flex;
        justify-content: space-evenly;
    }

    .star-button {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}

@media (min-width: 800px) {
    body {
        width: 100%;
        margin: auto;
    }

    header, footer, main {
        padding: 50px;
    }

    #checkBoxes {
        display: flex;
        justify-content: space-evenly;
    }
}

